ion-menu-button {
  color: var(--ion-color-primary);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container .intro {
  font-size: 11px;
  line-height: 22px;
  margin-left: 10px;
  color: #8c8c8c;
  text-decoration: underline;
}
.instructions {
  font-size: 11px;
  margin: 5px 10px 30px;
  color: #8c8c8c;
}

#container a {
  text-decoration: none;
}
ion-item {
  font-size: 13px;
}
.q-group {
  margin-bottom: 20px;
}
ion-button {
  color: var(--ion-color-primary-shade) !important;
}
.submit-button {
  margin: 30px;
  text-transform: capitalize;
}